# Compiled Python Code #
*.pyc

# OSX Files #
.DS_Store

# Ignore Pycharm data #
.idea/

# Ignore JSON files - specifically the generated settings file #
*.json

# Ignore directory to store working/testing versions of scripts.
dev-test/