Value Required ADDRESS (\d+\.\d+\.\d+\.\d+)
Value Required AGE (\d+:\d+:\d+|-)
Value Required MAC (\S+)
Value INTERFACE (\S+)
Value PHYSICAL_INTERFACE (\S+)

Start
  ^${ADDRESS}\s+${AGE}\s+${MAC}\s+${INTERFACE}\s+${PHYSICAL_INTERFACE} -> Record
