Value Required ADDRESS (\d+\.\d+\.\d+\.\d+)
Value AGE ([\d+]+)
Value Required MAC (\S+)
Value INTERFACE (\S+)
Value Required TYPE (\S+)

Start
  ^Internet\s+${ADDRESS}\s+(-|${AGE})\s+${MAC}\s+${TYPE}\s+${INTERFACE} -> Record
  ^Internet\s+${ADDRESS}\s+(-|${AGE})\s+${MAC}\s+${TYPE} -> Record