Value INT_Name (\S+)
Value INT_Port (\S+)
Value INT_VLAN (\S+)
Value INT_IP (\d+[\.]\d+[\.]\d+[\.]\d+)
Value INT_Type (\S+)
Value INT_APMgr (\S+)
Value INT_Guest (\S+)

Start
  ^\s*${INT_Name}\s+${INT_Port}\s+${INT_VLAN}\s+${INT_IP}\s+${INT_Type}\s+${INT_APMgr}\s+${INT_Guest} -> Record
